:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .wrapper {
            width: 420px;
            button {
                width: 100%;
            }
            .btn {
                width: 100%;
            }
        }
    }
}