<div class="project-container m-3" *ngIf="isLoad; else loadEle">
  <div class="mb-3">
    <h3>Dashboard</h3>
  </div>
  
  <div class="project-list-container">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center pointer"
        *ngFor="let project of projects; let ind = index"
        (click)="goToTaskPage(project)"
      >
        <div>{{ project?.name }}</div>
        <!-- <div class="d-flex justify-content-between align-items-center">
          <div>
            <a *ngIf="project.status === 'DeActive'; else playEle">
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
            <ng-template #playEle>
              <a (click)="onStopScreenshot(project.id)">
                <i class="fa fa-stop-circle-o" aria-hidden="true"></i>
              </a>
            </ng-template>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</div>

<ng-template #loadEle>
  <div class="d-flex justify-content-center align-items-center loading-container">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</ng-template>
