<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']">TimeTrack</a>
  <!-- <div class="navbar-expand mr-auto" *ngIf="isLogin">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [ngClass]="{'active': path === '/'}" [routerLink]="['/']">Home</a>
    </div>
  </div> -->
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()" *ngIf="isLogin">
        Logout
      </a>
    </div>
  </div>
</nav>
